$pin-line: #333;
$pin-highlight: red;
$neutral-light: #eee;
$neutral-background: #ddd;
$neutral-dark: #bbb;
$neutral-darker: #999;
$ui-border: 0.33rem;
$simple-margin: 0.5rem;
$medium-margin: 1rem;
$medium-float: 6rem;
