// Colours
$background-grey: #ddd;
$foldable-white: #fff;
$solid-black: #000;
$solid-white: #fff;
$button-highlight: $solid-white;

@mixin simple-border($color) {
  border: 1px solid $color;
}

@mixin scroll-y {
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
  overflow-y: scroll;
}

@mixin button {
  @include body-style;
  @include simple-border($solid-black);
  background-color: darken($background-grey, 10%);
  cursor: pointer;

  &:hover {
    background-color: $button-highlight;
  }
}

@mixin background-image ($image) {
  background-image: $image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

@mixin body-style {
  @include nice-edges;
  height: auto;
  margin: .2em;
  min-height: 1.64em;
}

@mixin centre-float {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
}

@mixin nice-edges {
  border-radius: .25em;
  padding: .2em;
}

$folder-border: 1px dotted $solid-white;

@mixin panel-border {
  background-color: $background-grey;
  border: .5rem solid;
  border-bottom-color: darken($background-grey, 10%);
  border-left-color: lighten($background-grey, 5%);
  border-right-color: darken($background-grey, 5%);
  border-top-color: lighten($background-grey, 10%);
}
  