@import '../../Types/definitions';

.controls {
  display: flex;
  flex-flow: column;
  font-size: 85%;

  .g-signin2 {
    align-self: flex-end;
  }

  .app .button {
    @include button;
    display: inline-block;
    margin-top: 6px;
  }
}
