@import '../../Types/definitions';

.folder {
  background-color: $background-grey;
  border-left: $folder-border;
  border-top: $folder-border;
  padding-left: 1em;

  .toggle {
    @include simple-border($solid-black);
    background: $foldable-white;
    cursor: pointer;
    display: inline-block;
    font-size: .6em;
    height: .6rem;
    left: .2rem;
    line-height: .6rem;
    margin: 0 .4rem 0 -1rem;
    position: relative;
    text-align: center;
    top: -.1rem;
    width: .6rem;
  }

  .title {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: calc(100% - 1.8em);
  }

  .create {
    @include background-image(url('../../Images/add-new-document.svg'));
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;

    &:hover {
      background-color: $button-highlight;
    }
  }

  &.collapsed {
    display: none;
  }

  &.focused {
    background-color: darken($background-grey, 20%);
  }
}

.sidebar {
  > .folder {
    border-left: 0;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: $folder-border;
    }
  }
}
