@import '../../Types/definitions';

.wordedit {
  display: flex;
  flex: 0 0 auto;
  margin: 0 1em;

  > * {
    @include body-style;
  }

  .weight {
    flex: 0 2em;
    width: 2em;
  }

  .words {
    flex: 1;
  }

  .button {
    @include background-image(url('../Images/delete-page.svg'));
    @include button;
    flex: 0 2em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: .2em .5em;
    width: 2em;
  }

  &.create {
    .weight,
    .words {
      visibility: hidden;
    }

    .button {
      background-image: url('../../Images/add-new-document.svg');
    }
  }
}
